/* Reset most default properties. */
* {
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 1em;
    line-height: inherit;
    text-decoration: inherit;
    background: transparent;
    color: inherit;
}

/* Reset padding for everything except select, option.
 * This rule would cause select boxes to break on Firefox. */
:not(select):not(option) {
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.429em; /* 20px at font-size: 14px */
    visibility: hidden; /* hide when test is loading */
    background-color: #fff;
}

body.visible {
    visibility: visible; /* show when test is loaded */
    background: linear-gradient(135deg, #dbe5f5 0%, #c8d6e5 50%, #bfc9d7 100%);
    min-height: 100vh;
}

/* Screen reader only content */
.reader-only {
    position: absolute;
    display: block;
    top: auto;
    left: -100000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}